:root {
  --expRed: #dc123c;
}
html {
  font-size: 16px; /* Base font size */
}
@media (min-width: 768px) {
  html {
    font-size: 17px; /* Increase base font size for tablets */
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px; /* Increase base font size for desktops */
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 20px;
  }
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  padding: 0;
  min-height: 100vh;
}
header {
  background-color: #f8f9fa;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header img {
  width: 138px;
}
.navbar {
  border-bottom: 1px solid #e3e3e3;
  padding: 12px 24px;
}

.topNavLink {
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}
.topNavLink:hover {
  color: var(--expRed);
}

.activeColor {
  font-size: 0.9rem;
  color: var(--expRed);
  font-weight: bolder;
}

main {
  width: 100%;
  flex: 1;
}
.leftNav {
  width: 180px;
}
.leftNavBanner {
  height: fit-content;
  border: 2px solid var(--expRed);
  border-radius: 8px;
  text-align: center;
}
.leftNavBanner h6 {
  margin-top: 0.6rem;
  font-size: 1rem;
}
.leftNavBanner i {
  font-size: 3.5rem;
  color: var(--expRed);
}
.leftNavList {
  border-radius: 5px;
  border: 1px solid var(--expRed);
}
.leftNavItem {
  border-radius: 5px;
  margin: 3px;
}
.leftNavLink {
  border-radius: 5px;
  padding: 0.3rem 0.1rem;
  text-align: center;
  color: black;
  font-size: 0.6rem;
  border: 1.35px solid black;
}
.leftNavLink:hover {
  background-color: var(--expRed);
  color: white;
}
.leftNavActive {
  border-radius: 5px;
  background-color: var(--expRed);
  transform: scale(1.01);
  color: White;
  border: hidden;
}
.horizontalLine {
  background-color: #343a40;
  height: 1px;
  width: 85%;
  margin: 0.7rem 0;
}
.rightContainer {
  background-color: #f1f1f1;
}
.heading {
  background-color: var(--expRed);
  padding: 0.5rem;
  border-radius: 10px;
}
.heading h1 {
  font-size: 1.2rem;
  margin: 0 auto;
  width: fit-content;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}
.description {
  background-color: white;
  font-size: 0.8rem;
  padding: 0.8rem;
  border-radius: 10px 10px 0 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
#div2Pdf {
  margin: 0 auto;
}
#div2Pdf button {
  background-color: var(--expRed);
  border: none;
  color: white;
}
#div2Pdf button:hover {
  transform: scale(1.2);
}
#benefit-content {
  font-size: 0.8rem;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  background-color: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  border: none;
}
#supportLinks a{
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.25rem 0.35rem;
  border: 2px solid var(--expRed);
  background-color: white;
  color: black;
  text-decoration: none;
}
#supportLinks a:hover{
  background-color: var(--expRed);
  color: white;
}
#customMailBox, #supportLinksContainer{
  display: none;
  background-image: url('/images/image\ 17\ \(2\).png');
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  background-color: white;
  font-size: 0.8rem;
}
#customMailBox p,#supportLinksContainer p{
  font-size: 1rem;
  text-align: center;
}
#customMail{
  border: 2px solid var(--expRed);
  text-decoration: none;
  color: black;
}
#customMail:hover{
  color: white;
  background-color: var(--expRed);

}

.faq {
  font-size: 0.8rem;
  display: none;
}
.faq h5 {
  margin: 0 auto;
  width: fit-content;
  background-color: var(--expRed);
  color: white;
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 0.2rem 5vw;
}
#accordionContainer {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.accordion button {
  font-size: 0.8rem;
}
.accordion-body {
  background-color: rgb(231, 255, 231);
  border-top: 0.5px solid rgb(154, 154, 154);
}
.accordion-button:not(.collapsed) {
  background-color: rgb(193, 255, 193);
}
.footer {
  background-color: #f1f1f1;
  padding: 3px;
  height: 25px;
  width: 100%;
  font-size: 0.65rem;
  text-align: center;
  border-top: 1px solid #e3e3e3;
}
.contact {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  font-size: 0.8rem;
  background-color: white;
}
.contact a {
  margin: 0;
  font-size: 0.7rem;
  border: 2px solid rgb(178, 178, 178);
}
.contact p {
  background-color: var(--expRed);
  color: white;
  margin: 0;
}
.contact a:hover {
  border: 2px solid var(--expRed);
}
